@CHARSET "ISO-8859-1";

h1 {
	color: red;
}

h2 {
	color: #00FF00;
}

h3 {
	color: rgb(255,220,0);
}

h6 {
	color: rgba(200, 54, 54, 0.2);
}

li {
	color: green;
}
h4 {
	color: purple;
}